.app-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(134deg, #02082A 0%, #1E5093 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, footer, div {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header.home, footer.home {
    height: 30vh;
}

div.home {
    min-height: 40vh;     
}

header.encounter, footer.encounter {
    height: 22vh;
}

header.encounter {
    position: fixed;
    top: 0;
}

footer.encounter {
    position: fixed;
    bottom: 0;
}

div.encounter ul {

       position: fixed;
       top: 20vh;
       height: 60vh;
       width: 100%;
       margin: 0;
       padding: 0;
       overflow: scroll;
    
}

header.form-header {
    height: 20vh;
}

form {
    height: 80vh;
    width: 100%;
    
}

fieldset {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

label {
    width: 100%;
    height: 15vh;
    flex: 0 1 20%;
    display: flex;
    justify-content: center;
    
    span {
        display: none;
    }
    
    input[type='text'] {
        width: 100%;
        height: 50%;
        border: none;
        background: transparent;
        border-bottom: 1px solid black;
    }
    
    select {
        width: 100%;
        margin-top: 5vh;
    }
}

fieldset button {
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    box-shadow: none;
    color: #cacaca;
}

label[for='action'] {
    height: 25vh
}
textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

