<div class="app-container">

  <header class="encounter">
    <h1>Recent Encounters</h1>
    <h2>
      See an Alien? Report it!
    </h2>
  </header>

  <div class="encounter">
    <ul>
      <li>
        <p>
          2016-05-31 - Ectomorph
        </p>
        <p>
          Made a new friend!
        </p>
      </li>
      
      <li>
        <p>
          2016-05-31 - Ectomorph
        </p>
        <p>
          Made a new friend!
        </p>
      </li>
      
      <li>
        <p>
          2016-05-31 - Ectomorph
        </p>
        <p>
          Made a new friend!
        </p>
      </li>
      
      <li>
        <p>
          2016-05-31 - Ectomorph
        </p>
        <p>
          Made a new friend!
        </p>
      </li>
      
      <li>
        <p>
          2016-05-31 - Ectomorph
        </p>
        <p>
          Made a new friend!
        </p>
      </li>
      
      <li>
        <p>
          2016-05-31 - Ectomorph
        </p>
        <p>
          Made a new friend!
        </p>
      </li>
      
      
    </ul>
  </div>

  <footer class="encounter">
    
      <a [routerLink] ="['/report']">Report Encounter</a>
    
  </footer>

</div>
