<header>
  <h1>Recent Encounters</h1>
  <h2>
    See an Alien? Report it!
  </h2>
</header>

<section>
  <ul>
    <li>
      <div>
        2016-05-31 - Ectomorph
      </div>
      <p>
        Made a new friend!
      </p>
    </li>
     <li>
      <div>
        2016-05-31 - Ectomorph
      </div>
      <p>
        Made a new friend!
      </p>
    </li>
     <li>
      <div>
        2016-05-31 - Ectomorph
      </div>
      <p>
        Made a new friend!
      </p>
    </li>
     <li>
      <div>
        2016-05-31 - Ectomorph
      </div>
      <p>
        Made a new friend!
      </p>
    </li>
     <li>
      <div>
        2016-05-31 - Ectomorph
      </div>
      <p>
        Made a new friend!
      </p>
    </li>
     <li>
      <div>
        2016-05-31 - Ectomorph
      </div>
      <p>
        Made a new friend!
      </p>
    </li>
  </ul>
</section>

<footer>
  <button>
    Report Encounter
  </button>
</footer>
