<div class="app-container">
  
  <header>
    <h1> Mars Colony Blog</h1>
  </header>
  
  <div class="blog-posts" [ngSwitch]='status'>
    
    <div *ngSwitchWhen="'loading'">
      loading...
    </div>
    <ul *ngSwitchWhen="'active'">
      <li *ngFor="let post of blogPosts">
        <h2><a href="{{post.link}}">{{post.title}}</a></h2>
        <p>{{post.excerpt | stripTags }}</p>
        
        <a class="read-more" href="{{post.link}}">Read More</a>
      </li>
    </ul>
  </div>
  
  <footer>
    <p>Participate in our community of explorers!</p> <a href="">Report your alien sightings</a>
  </footer>
  
</div>
