header{
    height: 20vh;
    position: fixed;
    top: 0;
}


.loading {
    
    position: fixed;
    top: 20vh;
    height: 65vh;
    width: 100%;
    }
div.blog-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 20vh;
    height: 65vh;
    overflow: scroll;
    text-align: left;
    background: white; 
    color: black;
}

h2 {
    text-align: center;
    color: black;
}

p {
   margin-left: 1rem;
   margin-right: 1rem; 
}

.read-more {
    font-size: 0.9em;
    padding: 1%;
    border: 1px solid black;
    margin-left: 3rem;
    color: black;
    
    &:hover {
        background: black;
        color: white;
    }
}

footer {
    padding: 1em;
    height: 15vh;
    position: fixed;
    bottom: 0;
    
    p   {
        margin-bottom: 0;
    }
}

